<div ng-controller="applyCtrl as apply" ng-cloak>

	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<dl class="dl-entity-horizontal">
			<dt>Curso</dt>
			<dd>{{degree.name}}</dd>
			<dt>Ano Lectivo</dt>
			<dd>{{degree.academicYear}}</dd>
			<dt>Ano Curricular</dt>
			<dd>{{degree.curricularYear}}</dd>
			<dt>Período de Candidatura</dt>
			<dd>{{degree.currentPeriod.start}} - {{degree.currentPeriod.end}}</dd>
		</dl>
	</div>
	
	<h3>Candidatos</h3>
	<div ng-show="loaded==true">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal" ng-show="!applied">
			<i class="glyphicon glyphicon-plus"></i>
			Candidata-te
		</button>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="candidato in candidatos | orderBy:'name'">
					<td>
						<img class="avatar" ng-show="!isEmpty(candidato.photo)" class="center-block" ng-src="data:{{candidato.photo.type}};base64,{{candidato.photo.data}}"></img>
						<i class="avatar" ng-show="isEmpty(candidato.photo)" class="glyphicon glyphicon-user"></i>
						{{candidato.name}}
						<span class="detail">{{candidato.username}}</span>
						<button type="button" class="pull-right close" ng-show="candidato.username == credentials.username" ng-click="unapply()"></button>
					</td>
				</tr>
			</tbody>
		</table>
	
		<div id="applyModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>
							Confirmação de Candidatura
						</h3>
						<small>stuff?</small>
					    <button type="button" class="close" data-dismiss="modal"></button>
					</div>
					<div class="modal-body">
		        		<dl class="dl-entity-horizontal">
								<dt>Candidato</dt>
								<dd>{{credentials.name}}</dd>
								<dt>Curso</dt>
								<dd>{{degree.name}}</dd>
								<dt>Ano Lectivo</dt>
								<dd>{{degree.academicYear}}</dd>
								<dt>Ano Curricular</dt>
								<dd>{{degree.curricularYear}}</dd>
								<dt>Candidaturas</dt>
								<dd>{{candidatos.length}}</dd>
								<dt>Período de votação</dt>
								<dd>{{degree.currentPeriod.start}} - {{degree.currentPeriod.end}}</dd><!-- need election period date -->
						</dl>
		      		</div>
		      		<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply()">Confirmar</button>
		      		</div>
				</div>
			</div>
		</div>
		
		<div class="alert alert-success alert-dismissible alert-floating" style="position:absolute; top:60px; right:30px" role="alert" ng-show="feedback">
			<button type="button" class="close" ng-click="feedback = false;"><span class="sr-only">Close</span></button>
			<i class="icon icon-check"></i><strong>Submetido!</strong> A tua candidatura foi submetida com sucesso.
		</div>
	</div>
</div>