<div ng-controller="applyCtrl as apply">
	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<!-- Table -->
		<table class="table">
			<tr>
				<th>Curso</th>
				<td>{{degree.registrations[0].name}}</td> <!--  needs to be fixed to search for roles with type student -->
			</tr>
			<tr>
				<th>Ano Lectivo</th>
				<td>2014/2015</td>
			</tr>
			<tr>
				<th>Ano Curricular</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Período de Candidatura</th>
				<td>23/04/2015 - 25/04/2015</td>
			</tr>
		</table>
	</div>
	
	<h3>Candidatos</h3>
	<button type="submit" class="btn btn-primary" ng-click="apply()" >
		<span class="glyphicon glyphicon-plus"></span>
		Candidata-te
	</button>
	<button type="submit" class="btn btn-primary" ng-click="reloadCandidates()" ng-show="debug">Reload Candidates</button>
	<div class="panel panel-default">
		<div class="panel-heading">Name</div>
		<table class="table">
			<tr ng-repeat="candidato in candidatos | orderBy:'name'">
				<td class="col-md-1">
					<img class="center-block" ng-src="data:{{candidato.photo.type}};base64,{{candidato.photo.data}}" height="42" width="42"></img><!-- using logged user photo, should use candidate photo -->
				</td>
				<td>
					<strong>{{candidato.name}}</strong>
					<small>{{candidato.username}}</small>
					<button class="pull-right" ng-show="candidato.username == credentials.username">testing</button><!-- debug -->
				</td>
			</tr>
		</table>
	</div>
</div>