<div>
	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<!-- Table -->
		<table class="table">
			<tr>
				<th class="col-md-2">Curso</th>
				<td class="col-md-10">nome curso</td>
			</tr>
			<tr>
				<th>Ano Lectivo</th>
				<td>2014/2015</td>
			</tr>
			<tr>
				<th>Ano Curricular</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Candidaturas</th>
				<td>{{inspectDegree.years[inspectDegreeYear].applicationPeriod.applicationPeriodStart}} - {{inspectDegree.years[inspectDegreeYear].applicationPeriod.applicationPeriodEnd}}
					<div ng-show="inspectDegree.years[inspectDegreeYear].applicationPeriod.state == 'ongoing'"> - A decorrer</div>
					<div ng-show="inspectDegree.years[inspectDegreeYear].applicationPeriod.state == 'over'"> - Terminado</div>
				</td>
			</tr>
			<tr>
				<th>Período de votação</th>
				<td>{{inspectDegree.years[inspectDegreeYear].electionPeriod.electionPeriodStart}} - {{inspectDegree.years[inspectDegreeYear].electionPeriod.electionPeriodEnd}}
					<div ng-show="inspectDegree.years[inspectDegreeYear].electionPeriod.state == 'ongoing'"> - A decorrer</div>
					<div ng-show="inspectDegree.years[inspectDegreeYear].electionPeriod.state == 'over'"> - Terminado</div>
				</td>
			</tr>
		</table>
	</div>
	
	<h3>Candidatos</h3>
	<div>
		<table class="table table-hover">
			<thead>
			<tr>
				<th class="col-md-6"><strong>Nome</strong></th>
				<th class="col-md-2"><strong>Auto-proposto</strong></th>
				<th><strong>Nº de Votos</strong></th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="candidate in candidates">
					<td><i ng-show="isEmpty(candidate.photo)"  class="glyphicon glyphicon-user"></i><strong>
						<img ng-show="!isEmpty(candidate.photo)"  ng-src="data:{{candidate.photo.type}};base64,{{candidate.photo.data}}" height="28" width="28">
						 {{candidate.name}}</strong><small>{{candidate.username}}</small></td>
					<td>sim</td>
					<td>num votos 
						<span class="pull-right">
							<button class="btn btn-default">Atribuir</button>
							<i class="glyphicon glyphicon-check"></i>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="btn btn-primary">Adicionar</button>
	
	<h3>Histórico</h3>
	<div>
		<table class="table table-hover">
			<thead>
			<tr>
				<th class="col-md-3"><strong>Ano-lectivo</strong></th>
				<th class="col-md-2"><strong>Tipo</strong></th>
				<th><strong>Período</strong></th>
			</tr>
		</thead>
			<tbody>
				<tr class="{'active':selectedRow == true">
					<td>2014/2015</td>
					<td>Candidatura</td>
					<td>14/11/2014 - 18/11/2014 <span><button class="btn btn-default pull-right" ng-click="setSelectedRow(true)">Detalhes</button></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<button class="btn btn-default" ng-click="hideDetails()">Voltar</button>
</div>