<div ng-controller="detailsCtrl">

	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<!-- Table -->
		<div class="row">
			<dl class="dl-entity-horizontal">
					<dt>Curso</dt>
					<dd>{{history().degreeName}}</dd>
					<dt>Ano Lectivo</dt>
					<dd>{{currentYear}}</dd>
					<dt>Ano Curricular</dt>
					<dd>{{history().degreeYear}}</dd>
					<dt>Candidaturas</dt>
					<dd>{{getCurrentApplication().applicationPeriodStart}} – {{getCurrentApplication().applicationPeriodEnd}}
						<span ng-show="getCurrentApplication().state == 'presente'"> - A decorrer</span>
						<span ng-show="getCurrentApplication().state == 'passado'"> - Terminado</span>
						<div ng-hide="isEmpty(getCurrentApplication()) || getCurrentApplication().state == 'futuro'">{{getCandidates().length}} candidatos</div>
					</dd>
					<dt >Votação</dt>
					<dd>{{getCurrentElection().electionPeriodStart}} – {{getCurrentElection().electionPeriodEnd}}			
						<span ng-show="getCurrentElection().state == 'presente'"> - A decorrer</span>
						<span ng-show="getCurrentElection().state == 'passado'"> - Terminado</span>
						<div ng-hide="isEmpty(getCurrentElection()) ||getCurrentElection().state == 'futuro'">{{getCurrentElection().voteCount}} votos</div>
					</dd>
			</dl>
		</div>
	</div>
	
	<h3>Candidatos</h3>
	<button ng-show="getCurrentApplication().state == 'presente' || getCurrentElection().state == 'presente'" class="btn btn-primary" ng-click="triggerFocus()">
		Adicionar
	</button>

	<div ng-hide="getCandidates().length >= 1" class="empty">
		<p>
			<i class="glyphicon glyphicon-user"></i><span>Sem candidatos</span>
		</p>
	</div>
	
	<div class="row" ng-hide="getCandidates().length < 1">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-6"><strong>Nome</strong></th>
					<th class="col-md-2" ng-show="getCurrentElection().state && getCurrentElection().state != 'futuro'"><strong>Auto-proposto</strong></th>
					<th ng-show="getCurrentElection().state && getCurrentElection().state != 'futuro'"><strong>Nº de Votos</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="candidate in getCandidates() track by $index | orderBy: candidate.voteCount">
					<td><i ng-show="isEmpty(candidate.photo)"  class="glyphicon glyphicon-user avatar"></i>
						<img class="avatar" ng-show="!isEmpty(candidate.photo)"  ng-src="data:{{candidate.photo.type}};base64,{{candidate.photo.data}}">
						 {{candidate.name}}<span class="detail">{{candidate.username}}</span></td>
					<td ng-show="getCurrentElection().state && getCurrentElection().state != 'futuro'">{{candidate.selfProposed}}</td>
					<td ng-show="getCurrentElection().state && getCurrentElection().state != 'futuro'">num votos 
						<span class="pull-right" ng-show="getCurrentElection().state == 'passado'">
							<button class="btn btn-default btn-xs" ng-click="assign(candidate.username)">Atribuir</button>
						</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="new">
					<td ng-hide="history().periods[0].periodType=='ELECTION'">
						<i class="icon icon-search"></i>
						<input type="text" placeholder="Novo…" ng-model="query" ng-change="loadStudents(query)" ng-model-options="{ debounce: 300 }"/>
						<table class="table table-hover" ng-show="!isEmpty(students)" style="margin: 0 0 0 -10px; border: 1px solid #ddd;">
							<tbody>
								<tr ng-repeat="student in students">
									<td>
										{{student.name}}
										<span class="detail" style="vertical-align: -webkit-baseline-middle; display: inline-table;">{{student.username}}</span>
										<button ng-show="true" class="btn btn-default btn-xs pull-right" ng-click="addCandidate(student.username)">Adicionar</button>
									</td>	
								</tr>
							</tbody>
						</table>
					</td>
					<td ng-show="history().periods[0].periodType=='ELECTION'" colspan="3">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	
	<h3>Histórico</h3>
	<div ng-show="isEmpty(history().periods)" class="empty">
		<p>
			<i class="glyphicon glyphicon-calendar"></i><span>Sem histórico</span>
		</p>
	</div>
	
	<div ng-hide="isEmpty(history().periods)" class="row">
		<table class="table table-hover">
			<thead>
			<tr>
				<th class="col-md-3"><strong>Ano-lectivo</strong></th>
				<th class="col-md-2"><strong>Tipo</strong></th>
				<th><strong>Período</strong></th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="period in history().periods">
					<td>{{period.academicYear}}</td>
					<td ng-show="period.periodType=='APPLICATION'">Candidatura</td>
					<td ng-show="period.periodType=='ELECTION'">Votação</td>
					<td>
						<span>
							<button class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#historyModal" ng-click="inspectPeriod($index)">
								Detalhes
							</button>
						</span>
						{{period.start}} – {{period.end}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="historyModal" class="modal fade" role="dialog" ng-controller="historyCtrl">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>
						Histórico
					</h3>
					<span class="detail">{{history().degreeName}} - {{inspectedPeriod().academicYear}}</span>
				    <button type="button" class="close" data-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<h3>Detalhes</h3>
					
					<!-- Table -->
					<div class="row">
						<dl class="dl-entity-horizontal">
								<dt>Curso</dt>
								<dd>{{history().degreeName}}</dd>
								<dt>Ano Lectivo</dt>
								<dd>{{inspectedPeriod().academicYear}}</dd>
								<dt>Ano Curricular</dt>
								<dd>{{history().degreeYear}}</dd>
								<dt ng-show="inspectedPeriod().periodType == 'APPLICATION'">Candidaturas</dt>
								<dt ng-show="inspectedPeriod().periodType == 'ELECTION'">Votação</dt>
								<dd>{{inspectedPeriod().start}} – {{inspectedPeriod().end}}
									<p>
										<span ng-show="inspectedPeriod().periodType == 'APPLICATION'">{{candidates().length}} candidatos</span>
										<span ng-show="inspectedPeriod().periodType == 'ELECTION'">{{inspectedPeriod().info}} votos</span>
									</p>
								</dd>
						</dl>
					</div>
					
					<h3>Candidatos</h3>
					
					<div ng-hide="candidates().length >= 1" class="empty">
						<p>
							<i class="glyphicon glyphicon-user"></i><span>Sem candidatos</span>
						</p>
					</div>
					
					<div class="row" ng-hide="candidates().length < 1">
						<table class="table table-hover">
							<thead>
							<tr>
								<th class="col-md-8"><strong>Nome</strong></th>
								<th class="col-md-2" ng-show="inspectedPeriod.periodType=='ELECTION'"><strong>Auto-proposto</strong></th>
								<th ng-show="inspectedPeriod.periodType=='ELECTION'"><strong>Nº de Votos</strong></th>
							</tr>
						</thead>
							<tbody>
								<tr ng-repeat="candidate in candidates() track by $index | orderBy: candidate.voteCount">
									<td><i ng-show="isEmpty(candidate.photo)"  class="glyphicon glyphicon-user avatar"></i>
										<img class="avatar" ng-show="!isEmpty(candidate.photo)"  ng-src="data:{{candidate.photo.type}};base64,{{candidate.photo.data}}">
										 {{candidate.name}}<span class="detail">{{candidate.username}}</span></td>
									<td ng-show="inspectedPeriod.periodType=='ELECTION'">sim</td>
									<td ng-show="inspectedPeriod.periodType=='ELECTION'">num votos 
									</td>
								</tr>
							</tbody>
						</table>
					</div>
	      		</div>
	      		<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
	      		</div>
			</div>
		</div>
	</div>
	
	<button class="btn btn-default" ng-click="hideDetails()">Voltar</button>
</div>