<div ng-controller="historyCtrl">
	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<!-- Table -->
		<div class="row">
			<table class="table">
				<tr>
					<th class="col-md-2">Curso</th>
					<td class="col-md-10">{{history().degreeName}}</td>
				</tr>
				<tr>
					<th>Ano Lectivo</th>
					<td>{{currentYear}}</td>
				</tr>
				<tr>
					<th>Ano Curricular</th>
					<td>{{history().degreeYear}}</td>
				</tr>
				<tr>
					<th>Candidaturas</th>
					<td>{{getCurrentApplication().applicationPeriodStart}} – {{getCurrentApplication().applicationPeriodEnd}}
						<div ng-show="getCurrentApplication().state == 'ongoing'"> - A decorrer</div>
						<div ng-show="getCurrentApplication().state == 'over'"> - Terminado</div>
						<div ng-hide="getCurrentApplication().state == 'futuro'">{{getCurrentApplication().candidateCount}} candidatos</div>
					</td>
				</tr>
				<tr>
					<th >Votação</th>
					<td>{{getCurrentElection().electionPeriodStart}} – {{getCurrentElection().electionPeriodEnd}}
						<div ng-show="getCurrentElection().state == 'presente'"> - A decorrer</div>
						<div ng-show="getCurrentElection().state == 'futuro'"> - Terminado</div>
						<div ng-hide="getCurrentElection().state == 'futuro'">{{getCurrentElection().voteCount}} votos</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<h3>Candidatos</h3>
	<button ng-show="getCurrentApplication().state == 'presente' || getCurrentElection().state == 'presente'" class="btn btn-primary">
		Adicionar
	</button>
	
	<div ng-hide="candidates.length >= 1" class="empty">
		<p>
			<i class="glyphicon glyphicon-user"></i><span>Sem candidatos</span>
		</p>
	</div>
	
	<div class="row" ng-hide="candidates.length < 1">
		<table class="table table-hover">
			<thead>
			<tr>
				<th class="col-md-6"><strong>Nome</strong></th>
				<th class="col-md-2"><strong>Auto-proposto</strong></th>
				<th><strong>Nº de Votos</strong></th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="candidate in candidates | orderBy: candidate.voteCount">
					<td><i ng-show="isEmpty(candidate.photo)"  class="glyphicon glyphicon-user"></i><strong>
						<img ng-show="!isEmpty(candidate.photo)"  ng-src="data:{{candidate.photo.type}};base64,{{candidate.photo.data}}" height="28" width="28">
						 {{candidate.name}}</strong><small>{{candidate.username}}</small></td>
					<td>sim</td>
					<td>num votos 
						<span class="pull-right">
							<button class="btn btn-default btn-xs">Atribuir</button>
							<i class="glyphicon glyphicon-check"></i>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<h3>Histórico</h3>
	<div>
		<table class="table table-hover">
			<thead>
			<tr>
				<th class="col-md-3"><strong>Ano-lectivo</strong></th>
				<th class="col-md-2"><strong>Tipo</strong></th>
				<th><strong>Período</strong></th>
			</tr>
		</thead>
			<tbody>
				<tr ng-repeat="period in history().periods">
					<td>{{period.academicYear}}</td>
					<td ng-show="period.periodType=='APPLICATION'">Candidatura</td>
					<td ng-show="period.periodType=='ELECTION'">Votação</td>
					<td>
						<span>
							<button class="btn btn-default btn-xs pull-right" ng-click="inspectPeriod($index)">
								Detalhes
							</button>
						</span>
						{{period.start}} – {{period.end}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<button class="btn btn-default" ng-click="hideDetails()">Voltar</button>
</div>