<div class="container" ng-controller="navigationCtrl">

	<ul class="nav nav-tabs pull-right" role="tablist">
		<li ng-hide="authenticated"><a href="login">login</a></li>
		<li ng-show="authenticated && debug"><a href="" ng-click="specialLogin()">Change Info</a></li><!-- debug -->
		<input ng-show="authenticated && debug" ng-model="special_username" type="text" value=""><!-- debug -->
	</ul>
	
	<button class="btn btn-default" ng-click="toggleDebug()">Toggle Debug</button><!-- debug -->
	
	<div class="container">	
		<div class="page-header">
			<h1>{{subTitle}}</h1>
			<h3>Eleição de Delegado de Ano</h3>
		</div>
		
		<!-- This needs changing to accomodate students with multiple degrees-->
		
		<div ng-show="authenticated"> <!-- missing student check -->
			
			<button type="btn btn-primary" ng-click="reloadDegrees()" ng-show="debug">Debug reload degrees</button><!-- debug -->

			<div ng-show="degress.length > 1">
				<div class="panel panel-default">
					<div class="panel-heading">Nome</div>
					<div class="table-responsive">
						<table class="table">
							<tr ng-repeat="deg in degrees">
								<td class="col-md-1">
									<input type="radio" ng-model="$parent.selection" value="{{$index}}">
								</td>
								<td>
									<strong>{{deg.name}}</strong>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<button class="btn btn-primary" ng-click="setDegree()">Seleccionar</button> 
			</div>

			<div ng-include="'candidatar.html'" ng-show="degree != null && degree.currentPeriod.type=='APPLICATION'">
			</div>

			<div ng-include="'votar.html'" ng-show="degree != null && degree.currentPeriod.type=='ELECTION'">
			</div>

			<div class="empty" ng-show="degree.currentPeriod.type!='APPLICATION' && degree.currentPeriod.type!='ELECTION'">
				<p>
					<span>
						<i class="glyphicon glyphicon-calendar"></i>
						Não está a decorrer nenhuma eleição.
					</span>
					<spam ng-show="nextPeriod">O próximo período de candidatura ocorre de {{start}} a {{end}}</spam>
				</p>
			</div>
		</div>
	</div>
</div>
