<div>

	<br></br>

	<button class="btn btn-primary" data-toggle="modal" data-target="#editModal" ng-disabled='selection.length == 0'>
		<i class="glyphicon glyphicon-pencil"></i> Editar
	</button>

	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
			Download <i class="caret"></i>
		</button>

		<ul class="dropdown-menu">
			<li><a target="_self" href="http://localhost:8080/home.html"
				download="home.html">Excel</a></li>
			<!-- test, currently download home.html file -->
		</ul>
	</div>

	<p></p>

	<table class="table">
		<thead>
			<tr>
				<th class="col-xs-4 col-md-1"><input type="checkbox"
					ng-click="toggleSelectAll()"> <strong>Curso</strong></th>
				<th><strong>1º ano</strong></th>
				<th><strong>2º ano</strong></th>
				<th><strong>3º ano</strong></th>
				<th><strong>4º ano</strong></th>
				<th><strong>5º ano</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="degree in degrees | orderBy: 'degree'">
				<td><input id="{{degree.degree}}" type="checkbox"
					value="{{degree.degree}}"
					ng-checked="selection.indexOf(degree.degree) > -1"
					ng-click="toggleSelection(degree.degree)" /> {{degree.degree}}</td>
				<td>
					cand
					vot
					<div class="btn-group pull-right text-left">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Download <i class="caret"></i>
						</button>
				
						<ul class="dropdown-menu">
							<li><a target="_self" href="http://localhost:8080/home.html"
								download="home.html">Excel</a></li>
							<!-- test, currently download home.html file -->
						</ul>
					</div>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="editModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>
							<strong>Definir Período</strong>
							<br>
							<small>Defina as datas de início e fim dos períodos</small>
						</h3>
					    <button type="button" class="close" data-dismiss="modal"></button>
					</div>
					<div class="modal-body">
		        		<table class="table">
							<tr>
								<th class="col-md-8">Curso</th>
								<td class="col-md-12 col-md-12-offset-4">{{degree.name}}</td>
							</tr>
							<tr>
								<th>Ano Lectivo</th>
								<td>{{degree.academicYear}}</td>
							</tr>
							<tr>
								<th>Ano Curricular</th>
								<td>{{degree.curricularYear}}</td>
							</tr>
							<tr>
								<th>Período de candidatura</th>
								<td>
									<div class="input-group">
										<input type="date" class="form-control">
									  	<span class="input-group-addon" id="basic-addon1">to</span>
										<input type="date" class="form-control">
									</div>
								</td>
							</tr>
							<tr>
								<th>Período de votação</th>
								<td>
									<div class="input-group">
										<input type="date" class="form-control">
									  	<span class="input-group-addon" id="basic-addon1">to</span>
										<input type="date" class="form-control">
									</div>
								</td>
							</tr>
						</table>
		      		</div>
		      		<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit()">Confirmar</button>
		      		</div>
				</div>
			</div>
		</div>
</div>