<div>

	<br></br>

	<button class="btn btn-primary" data-toggle="modal" data-target="#bulkModal" ng-disabled='selection.length == 0'>
		<i class="glyphicon glyphicon-pencil"></i> Definir
	</button>

	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
			Download <i class="caret"></i>
		</button>

		<ul class="dropdown-menu">
			<li><a target="_blank" href="http://localhost:8080/whatevs.xls">Excel</a></li> <!-- should be controller endpoint -->
			<!-- test, currently download home.html file -->
		</ul>
	</div>

	<div class="col-md-2 input-group pull-right">
	    <span class="input-group-addon">
	        <i class="glyphicon glyphicon-search"></i>
	    </span>
	    <input type="text"  class="form-control" ng-model="degreeFilter"/>
	</div>
	
	<p></p>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-2"><input type="checkbox"	ng-click="toggleSelectAll()"> <strong>Curso</strong></th>
				<th class="col-md-2"><strong>1º ano</strong></th>
				<th class="col-md-2"><strong>2º ano</strong></th>
				<th class="col-md-2"><strong>3º ano</strong></th>
				<th class="col-md-2"><strong>4º ano</strong></th>
				<th class="col-md-2"><strong>5º ano</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="degree in degrees | orderBy: 'degree' | filter: degreeFilter">
				<td><input id="{{degree.degree}}" type="checkbox"
					value="{{degree.degree}}"
					ng-checked="selection.indexOf(degree.degree) > -1"
					ng-click="toggleSelection(degree.degree)" /> <strong>{{degree.degree}}</strong></td>
				<td ng-repeat="year in degree.years">
					<div class="dropdown pull-right text-left">
						<span class="dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-option-vertical"></i> <!-- should use option-vertical icon -->
						</span>
				
						<ul class="dropdown-menu">
							<li ng-show="isEmpty(year.applicationPeriod)" data-toggle="modal" data-target="#editModal"
								ng-click="setSelectionDetails('Candidatura', 'Criar', degree, year)">
								<a href="#">Criar - Candidatura</a></li>
							<li ng-show="isEmpty(year.electionPeriod)" data-toggle="modal" data-target="#editModal" 
								ng-click="setSelectionDetails('Votação', 'Criar', degree, year)">
								<a href="#">Criar - Votação</a></li>
							<li ng-show="!isEmpty(year.applicationPeriod)" data-toggle="modal" data-target="#editModal"
								ng-click="setSelectionDetails('Candidatura', 'Estender', degree, year)">
								<a href="#">Estender - Candidatura</a></li>
							<li ng-show="!isEmpty(year.electionPeriod)" data-toggle="modal" data-target="#editModal"
								ng-click="setSelectionDetails('Votação', 'Estender', degree, year)">
								<a href="#">Estender - Votação</a></li>
							<li><a href="#" ng-click="showDetails(degree, $index)">Detalhes</a></li>
						</ul>
					</div>
					<div>
						<span>
							<strong>C:</strong>
							<span ng-show="!year.applicationPeriod || isEmpty(year.applicationPeriod)"><small></small></span>
							<span ng-show="!isEmpty(year.applicationPeriod) && year.applicationPeriod.state =='presente/futuro'">
								{{year.applicationPeriod.applicationPeriodStart}} – {{year.applicationPeriod.applicationPeriodEnd}}</span>
							<span ng-show="!isEmpty(year.applicationPeriod) && year.applicationPeriod.state == 'passado'">
								{{year.applicationPeriod.candidateCount}} candidatos</span>
						</span>
						<br>
						<span>
							<strong>V:</strong>
							<span ng-show="!year.electionPeriod || isEmpty(year.electionPeriod)"><small></small></span>
							<span ng-show="!isEmpty(year.electionPeriod) && year.electionPeriod.state =='presente/futuro'">
								{{year.electionPeriod.electionPeriodStart}} – {{year.electionPeriod.electionPeriodEnd}}</span>
							<span ng-show="!isEmpty(year.electionPeriod) && year.electionPeriod.state == 'passado'">
								{{year.electionPeriod.voteCount}} votos</span>
						</span>
					</div>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="editModal" class="modal fade" role="dialog" ng-controller="modalCtrl">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>
						<strong>{{selectedPeriodOperation()}} Período de {{selectedPeriodType()}}</strong>
						<br>
						<small>Defina as datas de início e fim do período de {{selectedPeriodType()}}</small>
					</h3>
				    <button type="button" class="close" data-dismiss="modal"></button>
				</div>
				<div class="modal-body">
	        		<table class="table">
						<tr>
							<th class="col-md-8">Curso</th>
							<td class="col-md-12 col-md-12-offset-4">{{selectedDegree().degree}}</td>
						</tr>
						<tr>
							<th>Ano Lectivo</th>
							<td>{{selectedDegree().academicYear}}</td>
						</tr>
						<tr>
							<th>Ano Curricular</th>
							<td>{{selectedYear().degreeYear}}</td>
						</tr>
						<tr>
							<th>Período de {{selectedPeriodType()}}</th>
							<td>
								<div class="input-group">
									<input type="date" class="form-control" ng-model="start">
								  	<span class="input-group-addon" id="basic-addon1">to</span>
									<input type="date" class="form-control" ng-model="end">
								</div>
							</td>
						</tr>
					</table>
	      		</div>
	      		<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit()">Confirmar</button>
	      		</div>
			</div>
		</div>
	</div>
	
	<div id="bulkModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>
						<strong>Definir Período</strong>
						<br>
						<small>Defina as datas de início e fim dos períodos</small>
					</h3>
				    <button type="button" class="close" data-dismiss="modal"></button>
				</div>
				<div class="modal-body">
	        		<table class="table">
						<tr>
							<th class="col-md-8">Curso</th>
							<td class="col-md-12 col-md-12-offset-4">{{degree.degree}}</td>
						</tr>
						<tr>
							<th>Ano Lectivo</th>
							<td>{{degree.academicYear}}</td>
						</tr>
						<tr>
							<th>Ano Curricular</th>
							<td>{{year.degreeYear}}</td>
						</tr>
						<tr>
							<th>Período de candidatura</th>
							<td>
								<div class="input-group">
									<input type="date" class="form-control">
								  	<span class="input-group-addon" id="basic-addon1">to</span>
									<input type="date" class="form-control">
								</div>
							</td>
						</tr>
						<tr>
							<th>Período de votação</th>
							<td>
								<div class="input-group">
									<input type="date" class="form-control">
								  	<span class="input-group-addon" id="basic-addon1">to</span>
									<input type="date" class="form-control">
								</div>
							</td>
						</tr>
					</table>
	      		</div>
	      		<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="bulkEdit()">Confirmar</button>
	      		</div>
			</div>
		</div>
	</div>
</div>