<div  ng-controller="voteCtrl as vote">
	<div>
		<!-- Default panel contents -->
		<h3>Detalhes</h3>
		
		<!-- Table -->
		<table class="table">
			<tr>
				<th class="col-md-2">Curso</th>
				<td class="col-md-8 col-md-8-offset-4">{{degree.registrations[0].name}}</td> <!--  needs to be fixed to search for roles with type student -->
			</tr>
			<tr>
				<th>Ano Lectivo</th>
				<td>2014/2015</td>
			</tr>
			<tr>
				<th>Candidaturas</th>
				<td>{{candidatos.length}}</td>
			</tr>
			<tr>
				<th>Período de votação</th>
				<td>23/04/2015 - 25/04/2015</td>
			</tr>
		</table>
	</div>
	
	<h3>Votação</h3>
	<button class="btn btn-primary" ng-click="period()"></button>
	<button type="submit" class="btn btn-primary" ng-click="reloadCandidates()" ng-show="debug">Debug Reload Candidates</button>
	<div class="panel panel-default">
		<div class="panel-heading">Name</div>
		<div class="table-responsive">
			<table class="table"> <!-- probably needs to be changed to a table -->
				
				<thead>
				<tr>
					<th class="col-md-1" ng-hide="true">
						button
					</th>
					<th class="col-md-1" ng-hide="true">
						pic
					</th>
					<th ng-hide="true">
						name
					</th>
				</tr>
				</thead>
				<tr ng-repeat="candidato in candidatos | orderBy:'username'">
					<td>
						<input type="radio" ng-model="$parent.selected" value="{{candidato.username}}" name="voted"> <!-- $parent needed because ng-repeat creates its own scope -->
					</td>
					<td>
						<img ng-src="data:{{candidato.photo.type}};base64,{{candidato.photo.data}}" height="30" width="30"> <!-- using logged user photo, should use candidate photo -->
					</td>
					<td>
						<strong>{{candidato.name}}</strong>
						<small>{{candidato.username}}</small>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" ng-model="selected" value="nil" name="voted">
					</td>
					<td>
					</td>
					<td>
						<strong>Votar em branco</strong>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" ng-model="selected" value="other" name="voted" ng-change="loadStudents()">  
					</td>
					<td>
					</td>
					<td>
						<strong>Outro</strong>
						<small>Podes dar o teu voto a um aluno que não se candidatou {{search}}</small>
						<tr ng-show="selected == 'other'">
							<td>
							</td>
							<td>
							</td>
							<td>
								<!-- <span class="glyphicon glyphicon-search"></span>-->
								<input type="search" ng-model="query"></input>
								<table class="table">
									<tr ng-repeat="student in students | filter:searchFilter | orderBy:'username'"  ng-hide="query==null || query==''">
										<td>
											<input type="radio" name="otherVoted" ng-model="$parent.otherSelected" value="{{student.username}}">
										</td>
										<td>
											<img ng-src="data:{{student.photo.type}};base64,{{student.photo.data}}" height="30" width="30">
										</td>	
										<td>	
											<strong>{{student.name}}</strong>
											<small>{{student.username}}</small>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<button class="btn btn-primary" data-toggle="modal" data-target="#voteModal" ng-hide="voted">Votar</button>

	<div id="voteModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>
						<strong>Confirmação de Voto</strong>
						<p>
							<small>This is a short helper text to undestand what they're doing</small>
						</p>
					</h3>
				    <button type="button" class="close" data-dismiss="modal"></button>
				</div>
				<div class="modal-body">
	        		<table class="table">
						<tr>
							<th class="col-md-6">Curso</th>
							<td class="col-md-12 col-md-12-offset-4">{{degree.registrations[0].name}}</td> <!--  needs to be fixed to search for roles with type student -->
						</tr>
						<tr>
							<th>Ano Lectivo</th>
							<td>2014/2015</td>
						</tr>
						<tr>
							<th>Ano Curricular</th>
							<td>1</td>
						</tr>
						<tr>
							<th>Período de votação</th>
							<td>23/04/2015 - 25/04/2015</td>
						</tr>
					</table>
					<p>
						Confirmar o seu voto em {{selected}}({{selected}})?
					</p>
	      		</div>
	      		<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vote()">Confirmar</button>
	      		</div>
			</div>
		</div>
	</div>
</div>

